* {
  font-family: Verdana, DejaVu Sans, sans-serif;
}

.odd {
  background-color: rgb(255, 167, 167);
}

.oddly-cool {
  font-size: 24px;
}

#two {
  color: #0000ff;
  font-size: 36px;
}

#four {
  background-color: hsl(120, 100%, 75%);
  font-size: 24px;
  font-weight: bold;
}
