body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template: 15.3% 15.3% 15.3% 15.3% 15.3% 15.3% / 23% 23% 23% 23%;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #ffde22;
  grid-column: 1 / 5;
}

.sidebar {
  background-color: #ff7755;

  grid-row: 2 / 6;
}

.nav {
  background-color: #00ddff;
  grid-column: 2 / 5;
}

.article {
  background-color: #bccbde;
  grid-column: 2 / 5;
  grid-row: 3 / 6;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-row: 6 / 7;
  grid-column: 1 / 5;
}
