body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template: 95px 95px 475px 95px/ 300px 900px;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #ffde22;
  grid-column: 1 / 3;
}

.sidebar {
  background-color: #ff7755;

  grid-row: 2 / 4;
}

.nav {
  background-color: #00ddff;
  grid-column: 2 / 3;
}

.article {
  background-color: #bccbde;
  grid-column: 2 / 3;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}
