:root {
    --std : 2px solid rgba(0, 0, 0, 0.37);
}

* {
    border: var(--std);
    box-sizing: border-box;
    margin: 0;
    /* padding:0; */
    padding: 15px;
}

/* creating animations using css is very helpfull while 
quick  */

.container {
    transform:perspective(100em);
}
