*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ff: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
  font-family: var(--ff);
  font-weight: 700;
}

.navBar ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 2rem;
}

.link {
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: red;
  transition: 250ms;
}
.link:hover::before {
  width: 100%;
}
