.odd-numbered-elements {
    background-color: #ffb6c1;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#second-element {
    color: #0000ff;
    font-size: 36px;
}

#fourth-element {
    background-color: #90ee90;
    font-weight: bold;;
}
