.odd{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#one{
color: blue;
font-size: 36px;
}

#two{
background-color: lightgreen;
font-size: 24px;
font-weight: bold;
}
/* * **All odd numbered elements**: a light red/pink background, and a list of fonts containing `Verdana` and `DejaVu Sans` with `sans-serif` as a fallback
* **The second element**: blue text and a font size of 36px
* **The third element**: in addition to the styles for all odd numbered elements, add a font size of 24px
* **The fourth element**: a light green background, a font size of 24px, and bold */