.odd{
    background-color: rgb(255, 165, 165);
    font-family: Verdana, "DejaVu Sans," sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}


#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
}