.oddNum {
    background-color: #ffb6c1;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#num2 {
    color: blue;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#num4 {
    background-color: lightgreen;
    font-weight: bold;
}