.odd{
    background-color: rgb(255, 192, 203);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#two{
    color: rgb(0, 0, 255);
    font-size: 36px;
}
#adjust-font-size{
    background-color: rgb(255, 192, 203);
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-size: 24px;
}
#four{
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}