.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.size {
    font-size: 24px;
}

#blue {
    color: blue;
    font-size: 36px;
}

#green {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}