.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font-size-of-24px {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-weight: bold;
}