.odd{
    background-color:lightpink;
    font-family: Verdana, DejaVu Sans , sans-serif;
}
#two{
    color: blue;
    font-size: 36px;
}
.three{
    font-size: 24px;
}
#four{
    background: lightgreen;
    font-size: 24px;
    font-weight: 700;
}
