.odd {
    background-color: #ffc0cb;
    font-family: Verdana ,'DejaVu Sans', 'sans-serif';
}

#two {
color:#0000ff;
font-size: 36px;
}

.size {
font-size: 24px;
}

#four {
background-color: lightgreen;
font-weight: bold;
}
