.odd{
    background-color: rgb(218, 99, 117);
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#two{
    color: blue;
    font-size: 36px;
}
.three{
    font-size: 24px;
}
#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}