.class {
    background-color: pink;
    font-family: Verdana,"DejaVu Sans",sans-serif;
}
#one
{
    color:blue;
    font-size: 36px;
}
.cooler
{
    font-size: 24px;
}
#another{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}