@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* SOLUTION */

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button:first-child {
  background-color: rgb(201, 148, 106);
  color: white;
  text-shadow: 0 0 5px black;
}

button:last-child {
  color: rgb(201, 148, 106);
}

button:last-child:hover {
  background-color: rgb(201, 148, 106);
  color: white;
  text-shadow: 0 0 5px black;
}
button:first-child:hover {
  background-color: gainsboro;
  text-shadow: none;
  color: rgb(201, 148, 106);
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

ul li a {
  transition: .2s ease-in-out;
}

ul li a:hover {
  color: rgb(201, 148, 106);
}

input {
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 25px;
  outline-color: rgb(201, 148, 106);
  width: 550px;
}

img {
  width: 700px;
}