@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}



.left-links,
.right-links {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.header a {
  text-decoration: none;
  color: inherit;
}



img {
  width: 600px;
  justify-content: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin-top: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #eeeeee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
  text-decoration: none;
  color: inherit;
}