@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* my solution */
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* my solution */
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 12px
}

.left-links,
.right-links {
  a:link {
    text-decoration: none;
    color: #666;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.footer {
  background: #eeeeee;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

button {
  padding: 8px 12px;
}
