@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul{
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #666;
}

.content{
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 600px;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.footer{
  background-color: #eeeeee;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 16px 8px;
  gap: 4px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
