@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0px;
}

a{
  text-decoration: none;
  color: gray;
}

body{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  
}

.header,
.footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* .buttons{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px;
} */

/* .input{
  text-align: center;
} */

.footer{
  background-color: #eee;
}