.odd {
    background-color: pink;
    font-family: 'Vedana', 'DejaVu Sans', sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}