.odd {
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.second{
    color: blue;
    font-size: 100px;
}

.third {
    font-size: 24px;
}

.fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}