.odd {
    background-color: lightpink;
}
.three {
    font-size: 24px;
}
#two    {
    color: blue;
    font-size: 36px;
}
#four {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}