@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex; /* added */
  flex-direction: column; /* added */
  justify-content: space-between; /* added */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px; /* added */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  /* added */
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.input,
.buttons,
.content {
  /* added */
  text-align: center;
  align-self: center;
}

.footer {
  /* added */
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #eeeeee;
}

.left-links,
.right-links {
  /* added (removes bullet points) */
  list-style: none;
  display: flex;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link,
a:active,
a:visited {
  /* added (removes underline)*/
  text-decoration: none;
  color: gray;
}
