@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Solved by warndarkahead */

body{
  display:flex ;
  flex-direction: column;
}

.content{
  flex: 1;
  display: flex;
  align-items: center;
 justify-content: center;
  flex-direction: column;
  gap: 16px;
}


.header,.footer{
  display: flex;
  padding: 16px;
  justify-content: space-between;
 
}



ul{
  display: flex; 
  gap: 16px;
  list-style-type: none;
  margin:0;
  padding: 0;
 
}

.footer{
  background-color: #eee;
}



a{
  color: #666;
  text-decoration: none;
}

button{
  padding: 8px 16px;
}