@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.left-links .right-links {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  display: flex; 
  list-style-type: none;
  margin-left: 16px;
  margin-right: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer {
 display: flex;
 justify-content: space-between;
 background-color: #eeeeee;
 padding: 8px;
 margin-top: auto;
 flex: 0;
}

button {
  padding: 8px
}

a {
  color: #666;
  text-decoration: none;
}