@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,
.footer,
.left-links,
.right-links {
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.header,
.footer {
  padding: 8px;
}

.footer {
  background-color: #eeeeee;
}

.left-links,
.right-links {
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}