@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  background-color: #eeeeee;
}

.left-links, .right-links {
  display: flex;
  gap: 14px;  
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: #666666;
  text-decoration: none;
}