* {
  margin: 0;
  padding: 0;
}

/* 

******* = Done

- The container element has two columns *******
- The container's second column is 4 times larger than the first column *******
- The container element has a gap of 4px *******
- The header element has two columns *******
- The `ul` inside the menu element contains another grid *******
- The `ul` inside the nav element contains another grid *******
- The sidebar element has a gap of 50px *******
- The text elements in the sidebar are centered with grid *******
- The article element should set grid columns using `repeat` along with the `auto-fit` and `minmax` properties *******
- The article columns should have a minimum value of 250px and a maximum of 1fr unit
- The article element has a gap of 15px
- The card elements inside the article container have a height of 200px
- The header and footer span across both columns
- The sidebar only spans across the first column
- The nav and article elements only span across the second column

*/

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-template-columns: 1fr 4fr;
}

.logo {
}

.menu {
}

.menu ul {
  display: grid;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #ff7755;
  display: grid;
  gap: 50px;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo {
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #ff7755;
  display: grid;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
