* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / 3;
  justify-content: space-between;
}

.logo {
  justify-self: left;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.menu ul,
.menu li {
  list-style-type: none;
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  gap: 50px;
  justify-content: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}

.nav {
  background-color: #FF7755;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none; 
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  min-height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  display: grid;
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
  
}
