#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

button:hover{
  width: 150px;
  height: 70px;
  cursor:pointer;
}
body{
  background: linear-gradient(to left ,rgb(0, 0, 0) 0%  ,rgb(108, 107, 107) 100%);
}
body:hover{
  background: linear-gradient(to left ,rgb(78, 77, 77) 0%  ,rgb(0, 0, 0) 100%);
}