@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  position: relative; /* Allow absolute positioning of the close button */
  padding: 20px; /* Padding around the edge of the modal */
}

.left {
  margin-right: 20px; /* Equal space between icon and text */
}

.right {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between header text and close button */
  width: 100%;
  font-weight: 700; /* Bold header */
  font-size: 1.2em; /* Slightly larger text-size for header */
}

.close-button {
  position: absolute;
  top: 20px; /* Adjust based on padding */
  right: 20px; /* Adjust based on padding */
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 10px;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}