@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  height: 200px;
}
.i{
  width: 60%;
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  
  margin-top: 13px;
  margin-left: 13px;
  
}
.second{
 
  align-items: center;
  padding-top: 13px;

}
.head{
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
 
}
.header{
  font-size: 20px;
  font-weight: bolder;
  
}
.text{
  padding: 10px;
  padding-right: 13px;
  padding-left: 0px;
  font-size: 15px;
}
.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:700;
  font-size: 13px;
  
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}