body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: bolder;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin:8px 0 0 0;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding: 8px 24px;
  display: block;
}