body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #ffffff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 5px;
  margin: auto
}

.content {
  background: #e3f4ff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}