body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.card > * {
    background: lightblue;
}

.title {
  
}

.content {
  
}

.button-container {
  
}

button {
  background: white;
  border: 1px solid #eee;
}