body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding-left: 8px;
}

.content {
  background: #e3f4ff;
  padding-left:8px;
  padding-right:8px;
  padding-top:16px;
  padding-bottom:16px;
}

.button-container {
  background: #e3f4ff;
  margin:auto;
  padding:8px;
  margin-top:8px;
  text-align:center;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0px auto;
  display:block;
  padding: 8px 24px 8px 24px;
}
