body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 8px;
  

}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin: 0px 0px 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin: 8px 0px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  /* margin: 4px; */
  padding: 8px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  text-align: center;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}