body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;

}

.title {
  margin: 8px;
  font-size: 16px;
  padding: 8px;
  background: #e3f4ff;
}

.content {
  margin: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  background: #e3f4ff;
}

.button-container {
  margin: 8px;
  text-align: center;
  background: #e3f4ff;
  padding: 8px;
}

button {

  display: block;
  margin: 0 auto;
  text-align: center;
  background: white;
  border: 1px solid #eee;
  padding: 8px;
}