body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;

}

.content {
  background: #e3f4ff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;

}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center
}

button {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
}