body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  box-sizing: border-box;

}

.card-item {
  background: #e3f4ff;
  margin: 8px;
}

.title {
  font-size: 16px;
  padding: 8px;
}

.content {
  padding: 16px 8px;
}

.button-container {
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px, 24px;
  display: block;
  margin: auto;
}