body {
  background: #eee;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.card {
  width: 400px;
  background: #fff;
  margin: 0 auto;
  padding: 0 10px;
  display: inline-block;
}

.card > * {
    background: lightblue;
    padding: 10px;
    margin: 10px 0px;
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.content {
  display: block;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
}