.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background: linear-gradient(to left ,rgb(0, 0, 0) 0%  ,rgb(108, 107, 107) 100%);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(to left ,rgb(0, 0, 0) 0%  ,rgb(108, 107, 107) 100%) !important;

  display: none;
}

ul.dropdown-menu li:hover {
  background: linear-gradient(to left ,rgb(0, 0, 0) 0%  ,rgb(108, 107, 107) 100%) !important;
}

.visible {
  display: block;
}


body{
  background: linear-gradient(to left ,rgb(201, 51, 231) 0%  ,rgb(55, 134, 224) 100%) !important;
}