
div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

p {
    background-color: green;
    color: white;
    font-size: 18px;
}

button {
    background-color: orangered;
    font-size: 18px;
}