
div{
    background-color: red;
    color:white;
    font-size:32px;
    text-align:center;
}

p{
    background-color:green;
    color:white;
    font-size:18px;
}
button{
    background-color:orange;
    font-size:18px;
}