*{
  margin: 0;
  padding: 0;
}
.container {
  box-sizing: content-box;
  background: dodgerblue;
  height: 100vh;
  width: 100vw;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 180px;
  height: 180px;
}