body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* Solved by warndarkahead */

body{
 
  display: flex;
  flex-direction: column;
}

.container{
  flex:1;
  display: flex;
  
}

.container1{
  display: flex;
  
  padding: 32px;
  flex-wrap: wrap;
}

.card{
  
  width:360px;
  height: 300px;
  margin: 10px;
  padding: 10px;
 
  }

ul{
  list-style: none;

}

a{
  text-decoration: none;
  color:white;
  font-size: 24px;
}

.sidebar{
  flex-shrink: 0;
  display: flex;
  width:300px;
  padding: 16px;
}

.footer{

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header{
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
}