/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.header {
  height: 72px;
  background-color: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: royalblue;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.footer {
  height: 72px;
  background-color: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}
