body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  align-items: start;
  padding: 16px;
  margin-top: 0;
}
li {
  list-style-type: none;
  padding: 4px;
}

.header {
  height: 32px;
  font-weight: 900;
  background: darkmagenta;
  color: white;
  display: flex;
  align-content: flex-start;
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

 .sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  /* padding: 16px; */
  display: flex;
  justify-content: flex-start;
  /* flex: 1 0 initial; */
}

.sidebar a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  min-width: 40%;
  min-height: 25%;
  margin: 10px;
  flex: 1;
  padding: 4px;
}

.cards {
  display: flex;
  flex-direction: row;
  padding: 32px;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1;
}
.content {
  display: flex;
  flex: 1;
}
