body{
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  height: auto;
  background: #fff;
  padding:8px; 
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px 16px 8px;
  
}

.button {
  text-align: center;
  background: #e3f4ff;
  margin-top: 8px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0px 24px 8px 24px;
}