body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 0 auto 8px auto;
  padding:8px
}

.content {
  background: #e3f4ff;
  /* margin: 16px 8px 16px 8px; */
  margin-bottom: 8px;
  padding: 16px 8px
}


.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  /* margin: 8px 24px 8px 24px; */
  margin: 0 auto;
  padding:8px 24px

}


/* 
- There is 8px between the edge of the card and its content (the blue sections).
- There is an 8px gap between each of the blue sections inside the card.
- X The title of the card uses a 16px font.
- X There are 8px between the title text and the edge of the title section.
- X The content section has 16px space on the top and bottom, and 8px on either side.
- X Everything inside the `.button` section is centered, and there is 8px padding.
- X The Big Button is centered on its own line.
- X The Big Button has 24px space on the sides, and 8px on top and bottom. */