body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  text-align: center;
  
  padding: 8px;
  
}