body {
  background: #fff;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #7A7A7A;
  margin: 16px auto;
}

.title {
  background: #b3e0ff;
}

.content {
  background: #b3e0ff;
}

.button-container {
  background: #b3e0ff;
}

button {
  background: #2d8dd2;
  border: 1px solid #000;
}