.class-1 {
    background-color: black;
    color: white;
}

.class-2 {
    background-color: yellow;
}

.class-1.class-2 {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}