.button-1,.button-2
{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif ;
}

.button-1
{
    background-color: black;
    color: white;
}

.button-2
{
    background-color: yellow;
}