.black-bg,
.yellow-bg {
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
}

.black-bg {
    background-color: black;
    color: white;
}

.yellow-bg {
    background-color: yellow;
}
