.one-button, .two-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.one-button {
    background-color: black;
    color: white
}

.two-button {
    background-color: yellow;
}

