.click,
.noclick {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.click {
    background: black;
    color: white;
}
.noclick { 
    background: yellow;
    color: black;
}