.one {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.two {
    background-color: hsl(60, 100%, 50%);
}

.adjust-font {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}