.para,
.small-para {
  color: hsl(0, 100%, 50%);
}

.para {
  font-size: 22px;
}

.small-para {

  font-size: 10px;
}

.button {
  background-color: #ffc0cb;
  color: black;
  font-size: 20px;
}

.confirm {
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
} 

div .child {
  color: red;
  font-size: 14px;
}

div {
  color: green;
  font-size: 28px;
}