body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 900;
}

.para.small-para {
  font-size: 18px;
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.button.confirm {
  background: green;
  color: white;
  font-weight: bold;
  font-size:18px;
} 

.button.cancel {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight:400;
}

.text.child {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 18px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
}
