.para,
.small-para {
  color: hsl(0, 100%, 50%);
}

.para {
  font-size: 22px;
}

.small-para {
  font-size: 12px;
}



.confirm {
  background: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
} 

.cancel {
  background-color: #ffc0cb;
  color: black;
  font-size: 20px;
}



.text {
  color: green;
  font-size: 28px;
}
.child {
  color: red;
  font-size: 14px;
}
