.para {
  color: hsl(0, 100%, 50%);
  font-size: 22px;
}

.small-para {
  font-size: 12px;
}

.button {
  background-color: #ffc0cb;
  color: black;
  font-size: 20px;
}

.confirm {
  background: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
} 


div.text {
  color: green;
  font-size: 28px;
}

.text.child {
  color: red;
  font-size: 14px;
}