* {
  border: 1px solid black;
}

.header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background: papayawhip;
}

.logo {
  display: flex;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 10px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;

}

.left-links {
  display: flex;
  justify-content: flex-end;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
