.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding: 8px;
  gap: 8px;
  ]
}
