.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-links {
  align-self: left;
}

.right-links {
  float: right;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 8px;
  gap: 8px;
}

li {
  display: inline-block;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}