.header  {
  font-family: monospace;
  background: papayawhip;

  padding: 8px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;

  margin-left: auto;
  margin-right: auto;  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 0;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}