/* div p{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */

/* div > .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}