div.container p.text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* class selector
.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */


/* type selector
div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */