/* * Only the `p` elements that are descendants of the `div` element should have 
a yellow background, red text, a font size of 20px, and center aligned. */

.container .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}