.bttn1,
.bttn2 {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;   
}

.bttn1 {
    background-color: black;
    color: white;
}

.bttn2 {
    background-color: yellow;
}
