.black,
.yellow {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}

.black {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}
