.button-one,
.button-two {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif
}

.button-one {
    background-color: black;
    color: white;
}

.button-two {
    background-color: yellow;
    color: black;
}