.button1, .button2{

    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.button1 {
    color: white;
    background-color: black;
}

.button2{
    color: black;
    background-color: yellow;
}