.first{
    background-color: black;
    color: #ffffff;
}
.second{
    background-color: rgb(255, 255, 0);
}
.first,
.second{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}