#first {
    background-color: rgb(0,0,0);
    color: rgb(250,250,250);
    font-weight: bold;
}

#second {
    background-color: rgb(255,255,0);
}

button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}