.button1,
.button2 {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', serif;
}

.button1 {
    background-color: black;
    color: white;
}

.button2 {
    background-color: yellow;
}