.why{
    font-size: 28px;
    font-family: 'Helvetica''Times New Roman',sans-serif ;
}
#no{
    background-color: black;
    color: white;
    font-weight: bold;
}
#n{
    background-color: yellow;
}