.button--black {
  background-color: black;
  color: #fff;  
}

.button--yellow {
  background-color: yellow;

}

.button {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}