.first {
    background-color: #000000;
    color: #ffffff;
}
.second {
    background-color: #ffff00;
}
.first,
.second{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}