.black {
    background-color: black;
    color: white;
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.yellow {
    background-color: yellow;
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}