

.click{
    background-color: black;
    color:white;
}

.no-click{
    background-color:yellow;
}
.click,.no-click{
    font-size: 28px;
    font-family: Havetica 'Time New Roman' sans-serif;
}