.class-one,
.class-two {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.class-one {
    background-color: black;
    color: white;
}

.class-two {
    background-color: yellow;
}