.me {
    background-color:rgb(0, 0, 0);
    color: white;
}

.noMe {
    background-color:rgb(238, 255, 0)
}

.me, .noMe {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}