div {
   background-color:red;
   color: white;
   font-size:32px;
   text-align:center;
   font-weight:bold;
}
p {
  background-color:green;
  font-size:18px;
  color:white;
  
}
button{
background-color:orange;
font-size:18px;
}   
