body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Header CSS */
.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
  background-color: black;
  box-shadow: 0 2px 10px rgba(19, 113, 255, 0.1);
  position: sticky;
  top: 0;
}

.logo {
  width: 50px;
  height: 50px;
}

.left {
  margin-left: 5%;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 5%;
}

.links {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 10px;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #fffafa;
}

.links a:hover {
  color: #007bff;
}

.cta {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #fffafa;
  color: #007bff;
}

/* END HEADER CSS */

/* SECTION HEADER CSS */

.section-header {
  background-color: #007bff;
}

.header-overview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: auto;
  flex-wrap: wrap;
}

.header-text {
  font-size: 50px;
  font-weight: bolder;
  color: #fffafa;
  min-width: 100px;
  max-width: 375px;
}

.image {
  margin: 50px 0;
  max-width: 500px;
  max-height: 500px;
  margin-right: 5%;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0;
  gap: 20px;
  margin-left: 5%;
  /* align-items: center; */
}

.section-header-text {
  max-width: 375px;
  color: white;
}

.signup-1 {
  padding: 10px 20px;
  font-size: 14px;
  color: #007bff;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-1:hover {
   background-color: black;
   color: white;
}

/* SECTION TWO CONTAINER */
.section-header-2 {
  background-color: whitesmoke;
  padding: 0 0 90px 0;
}

.header-2 {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  color: #007bff;
  margin: 50px 0 70px 0;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  width: 150px;
  height: 150px;
  border: 4px solid #007bff;
  border-radius: 15px;
  margin-bottom: 10%;
}

.info {
  max-width: 150px;
  color: gray;
}

/* SECTION THREE CONTAINER */

.section-header-3 {
  background-color: powderblue;
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
  flex-wrap: wrap;
  align-content: center;
}

.section-header-text-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.caption {
  font-weight: bold;
  margin-left: 60%;
}

/* END SECTION 3 CSS */

/* MODAL CSS */

.background {
  padding: 5% 0 5% 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 50px;
}

.modal {
  background-color: #007bff;
  color: #fffafa;
  padding: 40px 60px 40px 60px;
  width: 800px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
}

.CTA {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

.CTA-subtext {
  display: flex;
  font-style: light;
  width: auto;
}

.CTA,
.CTA-subtext {
  flex-wrap: wrap;
}

.signup-2 {
  font-size: 14px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fffafa;
  border: 2px solid white;
  cursor: pointer;
  width: 125px;
  height: 35px;
  border-radius: 8px;
  margin-left: auto;
  font-weight: bold;
  transition: background-color 0.3s;
  flex-wrap: wrap;
}

.signup-2:hover {
  background-color: #fffafa;
  color: #007bff;
}
/* END MODAL CSS */

/* FOOTER CSS */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 30px 30px;
}

.footer-text {
  color: white;
}

/* END FOOTER CSS */
