body {
  max-width: 600px;
  margin: 0 auto;

}

.one {
  background: pink;
  border: 2px solid blue;
  /* CHANGE ME */
  padding: 0px;
  margin: 0px;
  text-align: start;
}

.two {
  background: lightblue;
  border: 2px solid purple;
  /* CHANGE ME */
  margin-bottom: 0px;
  text-align: center;
}

.three {
  background: peachpuff;
  border: 2px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 0px;
  margin-left: 0px;
margin-left: 300px;
}