body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  /* margin-left: 330px;  */
  /* total body width = 600px - third box size width. The end of third box aligns with the second block, so I used that */
  margin-left: auto;
  /* the body width is 600px and it's left and right margin is auto, so it divides remaining space equally. Now if we do not set any margin to third, it starts from the start of body but when we set margin left to auto, the left margin takes up the entire space of the body - the space of box */
}