body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 370px 1110px;
  grid-template-rows: 100px 100px 500px 100px;
  gap: 15px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  grid-template-areas: "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer";
  justify-content: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: header;
}

.sidebar {
  background-color: #005B94;
  grid-area: sidebar;
}

.nav {
  background-color: #642cde;
  grid-area: nav;
}

.article {
  background-color: #7E1DC3;
  grid-area: article;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}