body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  gap: 15px;
  grid-template-columns: 300px 900px;
  grid-template-rows: 100px 100px 500px 100px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-column: 1/3;
}

.sidebar {
  background-color: #005B94;
  grid-row: 2 / 4;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}