/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

body {
  margin: 0;
  background: #eee;
  font-family: besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  border: 2px dotted green;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  width: auto;
  justify-content: center;
}

.sub-header {
  border: 2px solid red;
  display: flex;
  flex-basis: 1920px;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
 }

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  display: flex;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 5px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  display: flex;
  flex-basis: 220px;
  margin-right: auto;
  justify-content: space-evenly;
}

.profile {
 display: flex;
 justify-content: flex-end;
 flex-shrink: 0;
 gap: 8px;
}
