/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
* {
  /* border: 1px solid red; */
  column-gap: 16px;
}

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  /* gap: 8px; */
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;

}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  align-self: center;
  margin-left: 16px;
}

.left {
  display: flex;
  flex: 1 1 auto;
}

.right {
  margin: 8px 16px;
  display: flex; /* gap: 8px; */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  /* gap: 8px; */
}

li {
  display: flex;
}


a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
  align-self: center;

}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 0px 24px;
}





