body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
#small-paragraph {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
  font-size: 10px;
}

.para {
  font-size: 22px;
  font-weight: 900;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

.text > .child {
  font-weight: 900;
  font-size: 14px;
}